* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2hhdCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
}

.login-page {
  background-color: whitesmoke;

  margin-top: 5%;
  height: 80vh;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
}

.form-left-part {
  width: 50%;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-right-part {
  width: 40%;
  padding: 2%;
}

#login-input {
  font: bold;
}
.form-left-part p {
  color: gray;
  margin-left: 10%;
}
#login-heading {
  margin-left: 10%;
}
.login-input {
  margin-left: 10%;
  font-weight: bold;
}
#login-email,
#login-password {
  margin-left: 10%;
  padding: 2%;
  margin-top: 1%;
  width: 60%;
  outline: none;
  margin-bottom: 4%;
}
#login-rememberme {
  margin-left: 10%;
  margin-bottom: 4%;
}

#login-login-button {
  margin-left: 10%;
  width: 64%;
  height: 6vh;
  background-color: #8a3eff;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2%;
}
#login-login-button:hover {
  background-color: #2f0968;
}

#orlogin-with {
  margin-left: 34%;
}

#login-with-google {
  width: 40%;
  margin-left: 22%;
  cursor: pointer;
}

#girl-animated {
  width: 100%;
  margin-right: 40%;
}

#logo-chatpoint {
  width: 20%;
  margin-left: 37%;
  margin-top: 10%;
}
