/* Set global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
}

/* Set header styles */
.chat-header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.chat-header h1 {
  font-size: 1.5rem;
}

/* Set main styles */
.chat-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

/* Set sidebar styles */
.chat-sidebar {
  flex-basis: 25%;
}

.chat-sidebar h3 {
  margin-top: 1rem;
  font-size: 1rem;
}

.chat-sidebar h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.chat-sidebar ul {
  list-style: none;
  margin-top: 1rem;
}

.chat-sidebar li {
  margin-bottom: 0.5rem;
}

/* Set messages styles */
.chat-messages {
  flex-basis: 70%;
  background-color: #fff;
  padding: 1rem;
  overflow-y: scroll;
  max-height: 500px;
}

.chat-messages p {
  margin-bottom: 0.5rem;
}

.chat-messages .message {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 0.8rem;
  color: #888;
}

/* Set form styles */
.chat-form-container {
  flex-basis: 100%;
  padding: 1rem;
  background-color: #333;
}

#chat-form {
  display: flex;
  align-items: center;
}

#msg {
  flex-grow: 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
}

.btn {
  display: inline-block;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #777;
}

/* Set chat container styles */
.chat-container {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  border: 1px solid black;
}
