* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #555;
  line-height: 1.5;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
}
.chat-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ddd;
}
.chat-header h1 {
  font-size: 1.5rem;
}
.btn {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #555;
}
.chat-sidebar {
  flex: 1;
  margin-right: 20px;
}
.chat-sidebar h3 {
  margin-bottom: 10px;
}
.chat-sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.chat-sidebar ul {
  list-style-type: none;
  padding: 0;
}
.chat-sidebar li {
  margin-bottom: 5px;
}
.chat-messages {
  height: 300px;
  overflow: auto;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.chat-message {
  margin-bottom: 10px;
}
.chat-message .meta {
  font-size: 0.8rem;
  color: #aaa;
}
.chat-message .text {
  font-size: 1rem;
}
.chat-form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#msg {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  .chat-container {
    max-width: 100%;
  }

  .chat-sidebar {
    margin-right: 0;
  }
}
.meta {
  font-weight: 16px;
  font-weight: 600;
  color: rgb(55, 168, 206);
  text-transform: capitalize;
}
.meta span {
  font-size: 14px;
  font-weight: 400;
  color: rgb(135, 145, 149);
  float: right;
}
.textColor {
  margin-bottom: 15px;
}
